<div class="search-container">
  <input type="text" [(ngModel)]="titulo" placeholder="Digite o título do filme ou série">
  <button (click)="onConsultaCatalogo()">Pesquisar</button>
</div>

<div *ngIf="filmeSerie" class="filme-serie-detalhes">
  <h2>{{ filmeSerie?.titulo }}</h2>
  <img [src]="filmeSerie?.poster" alt="Poster de {{ filmeSerie?.titulo }}" width="200">
  <p><strong>Ano:</strong>{{ filmeSerie?.ano }}</p>
  <p><strong>Classificação:</strong> {{ filmeSerie?.classificacao }}</p>
  <p><strong>Data de Lançamento:</strong> {{ filmeSerie?.dataLancamento }}</p>
  <p><strong>Duração:</strong> {{ filmeSerie?.tempo }}</p>
  <p><strong>Gênero:</strong> {{ filmeSerie?.genero }}</p>
  <p><strong>Diretor:</strong> {{ filmeSerie?.diretor }}</p>
  <p><strong>Escritor:</strong> {{ filmeSerie?.escritor }}</p>
  <p><strong>Sinopse:</strong> {{ filmeSerie?.sinopse }}</p>
  <p><strong>Linguagem:</strong> {{ filmeSerie?.linguagem }}</p>
  <p><strong>País:</strong> {{ filmeSerie?.pais }}</p>
  <p><strong>Prêmios:</strong> {{ filmeSerie?.premios }}</p>
</div>

<div *ngIf="error" class="error">
  <p>{{ error }}</p>
</div>
